a {
	text-decoration: none;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

.page {
	background-color: #fafafa;
}

.container {
	margin: 0 auto;
	max-width: 992px;
}

.ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding: 1rem;
}

.li {
	display: flex;
	flex-direction: column;
	text-align: center;
}


/* Numbers */

.li span:nth-child(1) {
	color: #131313;
	font: 300 1rem/1 Roboto;
}


/* Text */

.li span:nth-child(2) {
	color: #999;
	font: 300 .8rem/1 Roboto;
}

.row {
	display: flex;
	margin-bottom: .4rem;
}


/* Removes margin bottom from last row in column */

.row:last-child {
	margin-bottom: 0;
}


/* Aspect ratio problem https://css-tricks.com/aspect-ratio-boxes/ */

.row-item {
	flex-grow: 1;
	margin-right: .4rem;
	position: relative;
}

.row-item::before {
	content: "";
	display: block;
	padding-top: 100%;
}


/* Removes margin right from last row item in row */

.row-item:last-child {
	margin-right: 0;
}

.row-item img {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}